/* colours */
:root {
  --primary: #b2dfdb;
  --secondary: #00695c;
  --title: #00695c;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}

nav a {
  text-transform: uppercase;
  color: var(--title);
}

nav a span {
  font-weight: bold;
}

nav .sidenav-trigger {
  margin: 0;
}

/* recipe styles */
.people {
  margin-top: 20px;
}

.card-panel.person {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}

.person img {
  grid-area: image;
  max-width: 60px;
  padding-top: 5px;
}

.person-details {
  grid-area: details;
  margin-top: 6px;
}

.person-delete {
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.person-delete i {
  font-size: 22px;
}

.person-firstname {
  font-weight: bold;
}

.person-lastname .person-age {
  font-size: 0.8em;
}

/* form-styles */
.add-btn {
  background: var(--title) !important;
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

form .input-field {
  margin-top: 30px;
}